
  <div class="container">
    <h2 class=text-center> Book a street artist</h2><br><hr>
    <div class="row">
      <div class="col-xs-11 col-xs">
      <%= form_tag("/artists/search", method: "get" , remote: true) do %>
    <div class="input-group">
      <%= autocomplete_field_tag 'ed-srch-term' , nil, autocomplete_artist_name_artists_path ,class: "form-control", placeholder: "Search . . .", name: "q" ,id: "ed-srch-term" %>
      <div class="input-group-btn">
      <%= submit_tag "Search" , id: "searchbtn" , name: nil %>
       </div>
      </div>
      <% end %>
      </div>
    </div>
  </div>


<div class="container-fluid" >
    <div class="container container-pad" id="artist-listingss">

        <div class="row">
            <div class="col-sm-12" id="result"> 
              
               <%= render partial: "artist" %>
           
        </div><!-- End row -->
    </div><!-- End container -->
</div>

<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @artists %>
  </div>
  <%= will_paginate @artists, :container => false %>
</div>